body {
    background-color: #193c6d;
    filter: progid: DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#003073', endColorstr='#029797');
    background-image: url(//img.alicdn.com/tps/TB1d.u8MXXXXXXuXFXXXXXXXXXX-1900-790.jpg);
    background-size: 100%;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0, #0e64be), color-stop(100%, #05cdd3));
    background-image: -webkit-linear-gradient(135deg, #0e64be, #05cdd3);
    background-image: -moz-linear-gradient(45deg, #0e64be, #05cdd3);
    background-image: -ms-linear-gradient(45deg, #0e64be 0, #05cdd3 100%);
    background-image: -o-linear-gradient(45deg, #0e64be, #05cdd3);
    background-image: linear-gradient(135deg, #0e64be, #05cdd3);
    text-align: center;
    margin: 0px;
    overflow: hidden;
}
html,body{
    margin: 0 auto;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    min-width: 1000px;

}
.login_contain
{
    width: 1000px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -500px;
}
.login_contain .login_lImg{
    position: absolute;
    left:0;
}

.login_contain .login_rNav{
    position: absolute;
    right: 0;
}

.login_contain #login_form{
    width: 400px;
    height: 500px;
    background: rgba(255,255,255,1);
    border-radius: 0px 10px 10px 0px;
}

.login_contain .login_header{
    width: 400px;
    height: 120px;
    background-color: #d2e6f2;
    border-radius:0px 9px 0px 0px;
    font-size:20px;
    font-family:SourceHanSansCN-Medium;
    font-weight:600;
    color:rgba(26,26,26,1);
    line-height:37px;
}
.login_contain .login_header .sys_logo{
    padding-top: 22px;
}

.login_contain #login_form input{
    width: 250px;
    height: 30px;
    background: rgba(255,255,255,1);
    border: 1px solid rgba(223,223,223,1);
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 2px 15px 2px 15px;
}
.login_contain #login_form h3{
    font-size:20px;
    font-family:SourceHanSansCN-Regular;
    font-weight:500;
    color:rgba(31,132,188,1);
    line-height:90px;
    margin: 0;
    padding: 0;
}

.login_contain #login_form  ::-webkit-input-placeholder {
    font-size:12px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(136,136,136,1);
    line-height:36px;
    opacity:0.5;
}
.login_contain #login_form  :-moz-placeholder {/* Mozilla Firefox 4 to 18 */
    font-size:12px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(136,136,136,1);
    line-height:36px;
    opacity:0.5;
}
.login_contain #login_form  ::-moz-placeholder {/* Mozilla Firefox 19+ */
    font-size:12px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(136,136,136,1);
    line-height:36px;
    opacity:0.5;
}
.login_contain #login_form  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size:12px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(136,136,136,1);
    line-height:36px;
    opacity:0.5;
}

.login_contain #login_form .password{
    margin-bottom: 15px;
}

.login_contain #login_form .submitBtn{
    display: block;
    width: 280px;
    height: 36px;
    background: #1f84bc;
    margin: 0 auto;
    border-radius: 4px;
    font-size: 14px;
    font-family: MicrosoftYaHei-Bold;
    font-weight: bold;
    color: rgba(255,255,255,1);
    line-height: 36px;
    margin-top: 35px;
    cursor: pointer;
}

.login_contain #login_form .rememberAccount
{
    float: left;
    padding-left: 60px;
    font-size: 12px;
    line-height: 5px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(37,44,63,1);
    opacity: 0.6;
}

.login_contain #login_form .rememberAccount .rm_checkbox
{
    width: 16px;
    height: 16px;
    margin: 0px 5px 0px 0px;
    padding: 0;
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid rgba(223,223,223,1);
    border-radius: 4px;
    vertical-align: middle;
}


.login_contain #login_form .rememberAccount .rm_checkbox:checked::before {
    position: absolute;
    display: block;
    content: "\2714";
    font-size: 15px;
    color: #1f84bc;
    padding-left: 1px;
    padding-top: -7px;
    margin-top: -4px;
}

.login_contain #login_form .rememberAccount .rm_wd{
    vertical-align: middle;
}

.login_contain #login_form .forgetPass{
    display: block;
    margin-top: 16px;
    font-size: 12px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(31,132,188,1);
    line-height: 32px;
    opacity: 0.7;
    cursor: pointer;
}
